<div class="fields control-group">
	<div class="field">
		<div class="control-label"><%= l.label :address, "リンク先" %></div>
		<div class="controls">
			<%= l.text_field :address, placeholder: "http://example.com" %>　 <%= link_to_remove_fields "削除", l %>
		</div>
	</div>
</div>