      <hr>
      <div class="jumbotron">
        <h1>URL shortening</h1>
        <p class="lead">「URL shortening」はsplitテストのできる短縮URLサービスです。<br />リンク先を複数設定すれば、１つの短縮URLでランダムにリンク先を飛ばすことができます。</p>
      </div>

<div class="well">
<h2 class="top-header">リンク先を入力してください</h2>
<%= render "form" %>
</div>